@model MiniNasWeb.Models.LocalPasswordModel
@{
    Layout = null;
}
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary()   
        <ol>
            <li class="errorMessage"></li>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "input" })
                <span class="red"> * </span>
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "input" })
                <span class="red"> * </span>
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class="input"})
                <span class="red"> * </span>
            </li>
            <li>
                <input type="submit" value="保 存" class="btn" id="submitPwd" />
            </li>
        </ol>
     
}
