@model   MiniNasWeb.Models.FilesModels.VideoModels
@using PagedList.Mvc
@{
    ViewBag.Title = "视频中心";
}
@using (Html.BeginForm())
{
    <div class="main-left fl">
        <div class="lhead">
            <div class="vhead vhead6"></div>
            <a href="/Home/Index" class="indexUrl"></a>
            <ul class="stationList">
                <li class="li1">
                    <a href="@Url.Action("Index", "Photo")"><i></i><span>照片中心</span></a>
                </li>
                <li class="li2">
                    <a href="@Url.Action("Index", "Music")"><i></i><span>音频中心</span></a>
                </li>
                @*<li class="li3">
                    <a href="@Url.Action("Index", "Video")"><i></i><span>视频中心</span></a>
                </li>*@
                <li class="li4">
                    <a href="@Url.Action("Index", "Download")"><i></i><span>下载中心</span></a>
                </li>
                <li class="li5">
                    <a href="@Url.Action("Index", "BTDownload")"><i></i><span>BT中心</span></a>
                </li>
                <li class="li6">
                    <a href="@Url.Action("Index", "FileCenter")"><i></i><span>文件中心</span></a>
                </li>
                <li class="li7">
                    <a href="@Url.Action("Index", "System")"><i></i><span>系统管理</span></a>
                </li>
                <li class="li7">
                    <a href="@Url.Action("Index", "ThunderDownload")"><i></i><span>迅雷远程</span></a>
                </li>
            </ul>
        </div>
        <div class="lsearch">
            <input type="text" value="搜索" onclick="if (this.value == '搜索') this.value = ''" onblur="    if (this.value == '') this.value = '搜索';" name="s" id="filter">
            <i id="search"></i>
        </div>
        <div class="treelist lcontent">
            <h5 class="suninfo_str">视频库</h5>
            <ul id="library_list" class="fun_list">
                <li><i></i><span>所有视频</span></li>
            </ul>
            <h5 class="suninfo_str">播放列表</h5>
        </div>  
    </div>
    <div class="main-right">
        <div class="rt-content">
            <div class="rhead clear">
                <div class="fl clear">
                    <div class="rLists fl">
                        <div class="menu-hd" id="album_act"><span>播放操作</span><i></i></div>
                        <ul id="album_act_list">
                            <li><a id="Video_Add">新建</a></li>
                            <li><a id="Video_Edit">编辑</a></li>
                            <li class="disabled"><a id="Video_Delete">删除</a></li>
                        </ul>
                    </div>
                    <div class="rLists fl">
                        <div class="menu-hd" id="photo_act"><span>视频操作</span><i></i></div>
                        <ul id="photo_act_list">
                            <li><a id="Video_AddTo_list">添至列表</a></li>
                            <li><a id="Video_Remove_list">移出列表</a></li>
                            <li class="disabled"><a id="Delete">删除</a></li>
                            <li class="disabled"><a id="Download">下载</a></li>
                        </ul>
                    </div>
                    <div class="rLists fl">
                        <div class="menu-hd" id="Video_upload"><span>上传视频</span></div>
                    </div>
                </div>
                <div class="rt">
                    <ul class="ulopertion clear">
                        <li id="list"><i></i><span>详细列表</span></li>
                        <li id="thumbnail"><i></i><span>缩略图</span></li>
                        <li id="play"><i></i></li>
                    </ul>
                </div>
            </div>
            <div class="hrhead clear">
                <div class="fl"><span>视频列表</span><i>/</i><span id="sel_title" class="color_ye">所有视频</span></div>
                <div class="rt list_checkAll">
                    <i>全选</i>
                    <div class="checkbox">
                        <input id="checkAll1" type="checkbox" class="checkAll" name="checkAll">
                        <label for="checkAll1"></label>
                    </div>
                </div>
                <div class="rt"><span>共计 <span id="allnum" class="color_ye"></span> 部视频 </span><span id="chkAll_thumbnail"></span> </div>
            </div>
            <div class="rtgy-box-center">
                <div class="rtgy-cont">
                    <div id="content" class="scrollbar">
                        <table class="table_list" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr class="title">
                                    <td width="25">
                                        <div class="checkbox">
                                            <input id="checkAll" type="checkbox" class="checkAll" name="checkAll">
                                            <label for="checkAll"></label>
                                        </div>
                                    </td>
                                    <td width="70%">名称</td>
                                    <td width="30%">状态</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="check1" type="checkbox" name="checkOne">
                                            <label for="check1"></label>
                                        </div>
                                    </td>
                                    <td width="50%">名称</td>
                                    <td width="50%">状态</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="Thumbnail_list clear">
                            <li>
                                <div class="checkbox">
                                    <input id="check11" type="checkbox" name="checkOne">
                                    <label for="check11"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check21" type="checkbox" name="checkOne">
                                    <label for="check21"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check31" type="checkbox" name="checkOne">
                                    <label for="check31"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check41" type="checkbox" name="checkOne">
                                    <label for="check41"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check51" type="checkbox" name="checkOne">
                                    <label for="check51"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check61" type="checkbox" name="checkOne">
                                    <label for="check61"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check71" type="checkbox" name="checkOne">
                                    <label for="check71"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check81" type="checkbox" name="checkOne">
                                    <label for="check81"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check91" type="checkbox" name="checkOne">
                                    <label for="check91"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="check101" type="checkbox" name="checkOne">
                                    <label for="check101"></label>
                                </div>
                                <img src="/Images/Discuz/public/Video_pic.png"><b>photo001</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

@*新建播放列表*@
<div id="popupLayer_Video_Add" class="popup-layer">
    <div id="popupLayerBox_Video_Add" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_Video_Add" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">新建播放列表：</h3>
            <div class="photo_text">
                <div class="group clear">
                    <span class="caption  fl">列表标题：</span>
                    <input type="text" class="w260">
                    <span class="red-color fl">*</span>
                </div>
                <p class="msg"></p>
            </div>
            <div class="btnBox">
                <a class="download" id="btnDownload">新建</a>
                <a class="cancel" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
@*编辑播放列表*@
<div id="popupLayer_Video_Edit" class="popup-layer">
    <div id="popupLayerBox_Video_Edit" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_Video_Edit" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">编辑播放列表：</h3>
            <div class="photo_text clear">
                <span class="caption  fl">列表标题：</span>
                <input type="text" class="w260">
            </div>
            <div class="btnBox">
                <a class="download" id="btnDownload">确定</a>
                <a class="cancel" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
@*添至列表*@
<div id="popupLayer_Video_AddTo_list" class="popup-layer">
    <div id="popupLayerBox_Video_AddTo_list" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_Video_AddTo_list" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">添加至列表：</h3>
            <div class="photo_text clear">
                <span class="caption  fl">列表标题：</span>
                <select class="w260">
                    <option>列表1</option>
                    <option>列表2</option>
                    <option>列表3</option>
                    <option>列表4</option>
                </select>
            </div>
            <div class="btnBox">
                <a class="download" id="btnDownload">确定</a>
                <a class="cancel" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
@*移出列表*@
<div id="popupLayer_Video_Remove_list" class="popup-layer">
    <div id="popupLayerBox_Video_Remove_list" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_Video_Remove_list" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">移出列表：</h3>
            <div class="Warning clear">
                <span class="Warn-icon  fl"></span>
                <p class="Warn-text fl">列表<span class="remove-listName">“恐怖片”</span>将被移除</p>
            </div>
            <div class="btnBox">
                <a class="download" id="btnDownload">确定</a>
                <a class="cancel" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
@*上传视频*@
<div id="popupLayer_Video_upload" class="popup-layer">
    <div id="popupLayerBox_Video_upload" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_Video_upload" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">上传视频：</h3>
            <div class="photo_Upload clear">
                <div class="Upload-lf fl">
                    <a class="Upload-Btn">选择文件</a>
                </div>
                <div class="Upload-Text rt">
                    <span>说明：<br>1、文件名将过滤字符：'，"，%，# 。<br>2、如存在同名文件，新文件将不被保存。<br>3、0kb文件不会被上传。</span>
                </div>
            </div>
            <div class="Upload-progress">
                <span>上传进度：</span>
            </div>
            <div class="btnBox">
                <a class="cancel" id="cancel">关闭</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //新建
        $("#Video_Add").click(function () {
            Popup.init('closePopupLayer_Video_Add', 'popupLayer_Video_Add', 'popupLayerBox_Video_Add');
            Popup.popup();
        });

        //编辑
        $("#Video_Edit").click(function () {
            Popup.init('closePopupLayer_Video_Edit', 'popupLayer_Video_Edit', 'popupLayerBox_Video_Edit');
            Popup.popup();
        });

        //添至列表
        $("#Video_AddTo_list").click(function () {
            Popup.init('closePopupLayer_Video_AddTo_list', 'popupLayer_Video_AddTo_list', 'popupLayerBox_Video_AddTo_list');
            Popup.popup();
        });

        //移出列表
        $("#Video_Remove_list").click(function () {
            Popup.init('closePopupLayer_Video_Remove_list', 'popupLayer_Video_Remove_list', 'popupLayerBox_Video_Remove_list');
            Popup.popup();
        });

        //上传视频
        $("#Video_upload").click(function () {
            Popup.init('closePopupLayer_Video_upload', 'popupLayer_Video_upload', 'popupLayerBox_Video_upload');
            Popup.popup();
        });
    });
</script>