 
@using PagedList.Mvc
@{
    ViewBag.Title = "文件中心";
}

 
<link href="~/Content/Default/pager.css" rel="stylesheet" />
<script src="~/Scripts/pager/jquery.pager.js"></script>
@using (Html.BeginForm())
{
    <div class="main-left fl">
        <div class="lhead">
            <div class="vhead vhead4"></div>
            <a href="/Home/Index" class="indexUrl"></a>
            <ul class="stationList">
                <li class="li1">
                    <a href="@Url.Action("Index", "Photo")"><i></i><span>照片中心</span></a>
                </li>
                <li class="li2">
                    <a href="@Url.Action("Index", "Music")"><i></i><span>音频中心</span></a>
                </li>
                <li class="li3">
                    <a href="@Url.Action("Index", "Video")"><i></i><span>视频中心</span></a>
                </li>
                <li class="li4">
                    <a href="@Url.Action("Index", "Download")"><i></i><span>下载中心</span></a>
                </li>
                <li class="li5">
                    <a href="@Url.Action("Index", "BTDownload")"><i></i><span>BT中心</span></a>
                </li>
                @*<li class="li6">
                    <a href="@Url.Action("Index", "FileCenter")"><i></i><span>文件中心</span></a>
                </li>*@
                <li class="li7">
                    <a href="@Url.Action("Index", "System")"><i></i><span>系统管理</span></a>
                </li>
                <li class="li7">
                    <a href="@Url.Action("Index", "ThunderDownload")"><i></i><span>迅雷远程</span></a>
                </li>
            </ul>
        </div>
        <div class="left-panel lcontent">
            <h5 class="suninfo_str">文件夹列表</h5>
            <ul id="library_list" class="fun_list">
                <li><i class="Task_icon"></i><span>files</span></li>
            </ul>
        </div>  
    </div>
<div class="main-right">
    <div class="rt-content">
        <div class="rhead clear">
            <div class="fl clear">
                <div class="rLists fl">
                    <div class="menu-hd" id="album_act"><span>文件夹操作</span><i></i></div>
                    <ul id="album_act_list">
                        <li><a id="File_Add">新建</a></li>
                        <li class="disabled"><a id="File_Rename">重命名</a></li>
                        <li class="disabled"><a id="File_Delete">删除</a></li>
                    </ul>
                </div>
                <div class="rLists fl">
                    <div class="menu-hd" id="photo_act"><span>文件操作</span><i></i></div>
                    <ul id="photo_act_list">
                        <li class="disabled"><a id="Download">下载</a></li>
                        <li class="disabled"><a id="Move">移动</a></li>
                        <li class="disabled"><a id="Rename">重命名</a></li>
                        <li class="disabled"><a id="Delete">删除</a></li>
                    </ul>
                </div>
                <div class="rLists fl">
                    <div class="menu-hd" id="File_upload"><span>上传文件</span></div>
                </div>
            </div>
            @*<div class="rt">
                <ul class="ulopertion clear">
                    <li id="list"><i></i><span>详细列表</span></li>
                    <li id="thumbnail"><i></i><span>缩略图</span></li>
                </ul>
            </div>*@
        </div>
        <div class="rtgy-box-center">
            <div class="rtgy-cont">
                <div class="hrhead clear">
                    <div class="fl"><span>文件夹列表</span><i>/</i><span id="sel_album_title" class="color_ye">files</span></div>
                    <div class="rt"><span>共计 <span id="allnum" class="color_ye">0</span> 个文件 </span><span id="chkAll_thumbnail"></span> </div>
                </div>
                <div id="content" class="scrollbar">
                    <table class="table_list" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="title">
                                <td width="25">
                                    <div class="checkbox">
                                        <input id="checkAll" type="checkbox" class="checkAll" name="checkAll">
                                        <label for="checkAll"></label>
                                    </div>
                                </td>
                                <td width="50%">名称</td>
                                <td width="20%">大小</td>
                                <td width="30%">日期</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="check1" type="checkbox" name="checkOne">
                                        <label for="check1"></label>
                                    </div>
                                </td>
                                <td>名称</td>
                                <td>2MB</td>
                                <td>2012-02-22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}

@*新建播放列表*@
<div id="popupLayer_File_Add" class="popup-layer">
    <div id="popupLayerBox_File_Add" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_File_Add" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">新建文件夹：</h3>
            <div class="photo_text">
                <div class="group clear">
                    <span class="caption  fl">文件夹名称：</span>
                    <input type="text" class="w260">
                    <span class="red-color fl">*</span>
                </div>
                <p class="msg"></p>
            </div>
            <div class="btnBox">
                <a class="download" id="btnDownload">保存</a>
                <a class="cancel" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
@*上传照片*@
<div id="popupLayer_File_upload" class="popup-layer">
    <div id="popupLayerBox_File_upload" class="popup-layer-box downloadHttp w400">
        <i id="closePopupLayer_File_upload" class="close-Download">×</i>
        <div class="downloadpup clear">
            <h3 class="item_tit">上传文件：</h3>
            <div class="photo_Upload clear">
                <div class="Upload-lf fl">
                    <a class="Upload-Btn">选择文件</a>
                </div>
                <div class="Upload-Text rt">
                    <span>说明：<br>1、文件名将过滤字符：'，"，%，# 。<br>2、如存在同名文件，新文件将不被保存。<br>3、0kb文件不会被上传。</span>
                </div>
            </div>
            <div class="Upload-progress">
                <span>上传进度：</span>
            </div>
            <div class="btnBox">
                <a class="cancel" id="cancel">关闭</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //新建磁链任务
        $("#File_Add").click(function () {
            Popup.init('closePopupLayer_File_Add', 'popupLayer_File_Add', 'popupLayerBox_File_Add');
            Popup.popup();
        });

        //上传照片
        $("#File_upload").click(function () {
            Popup.init('closePopupLayer_File_upload', 'popupLayer_File_upload', 'popupLayerBox_File_upload');
            Popup.popup();
        });
    });
</script>


